@import "pages/settings.css";
@import "pages/rooms.css";
@import "pages/room.css";


.app-body {
  display: grid;
}

.app-body:not(.single) {
  grid-template-columns: 300px auto;
}

.single.app-body {
  justify-self: left;
  width:100%;
}

.app-body .centered-container {
  display: grid;
  align-content: center;
  justify-self: center;
  grid-template-columns: 100%;
  justify-content: center;
}
