.app-header {
  height: 60px;
  max-width: 800px;
  max-height: 77px;
  display: grid;
  grid-template-columns: 90% auto;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(234, 234, 234, 1);
  align-items: center;
}

.app-header .brand {
  grid-column: 2;
  margin-right: 16px;
}

.app-header .brand img.logo {
  width: 54px;
  height: 46px;
  vertical-align: middle;
}

/*====================================================*/

.app-header .room-info {
  grid-column: 1;
  width: 300px;
  max-width: 300px;
  align-content: center;
  padding-left: 16px;
  display: grid;
  grid-template-columns: auto auto;
  border-right: 1px solid rgba(234, 234, 234, 1);
  height: 100%;
  align-items: center;
}

.app-header .room-info .meta {
  align-self: center;

}

.app-header .room-info .action {
  align-self: center;
}

.app-header .room-info .title {
  font-weight: bold;
  font-size: 16px;
  color: rgba(72, 72, 72, 1);
  margin: 0 auto;
}

.app-header .room-info .more div {

}

.app-header .room-info .more * {
  color: rgba(72, 72, 72, 0.5);
  font-size: 10px;
}

.app-header a:hover {
  cursor: pointer;
}

/*===========================================*/


.app-header .head-line{
  grid-column: 1;
  display: grid;
  width:100%;
  grid-template-columns: auto auto;
}

.app-header .head-line .back{
  grid-column: 1;
  display: grid;
  justify-content: left;
  grid-template-columns: auto auto;
}

.app-header .head-line .back .arrow{
  grid-column: 1;
  align-self: center;
  width:24px;
  height: 24px;
}

.app-header .head-line .back .description{
  grid-column: 2;
  align-self: center;
  color: rgba(72, 72, 72, 1);
  font-size: 14px;
  font-weight: 500;
}

.app-header .head-line .title{
  grid-column: 2;
  align-self: center;
  font-size: 16px;
  font-weight: bold;
  color: rgba(72, 72, 72, 1);
}
