@import "assets/css/base.css";
@import "assets/css/header.css";
@import "assets/css/body.css";
@import "assets/css/footer.css";

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: rgba(249, 249, 249, 1);
}

.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 77px auto 40px;
}
