.app-body .scenes {
  grid-column: 1;
  padding-left: 16px;
  width: 300px;
  margin-top: 17px;
}

.app-body .devices {
  grid-column: 2;
  background-image: url('../../img/bg.svg');
  background-size: cover;
  padding: 16px;
  width: 500px;
}

.app-body .devices .title {
  font-size: 16px;
  color: white;
  margin-bottom: 16px;
}

/* =================================================================================== */

.app-body .devices .list .device-control {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  min-height: 32px;
  display: grid;
  grid-template-areas: "title actions" "extra extra";
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  margin: 3px auto;
}

.app-body .devices .list .device-control .title {
  grid-area: title;
  font-size: 15px;
  color: rgba(72, 72, 72, 1);
  line-height: 21px;
  margin-left: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.app-body .devices .list .device-control .actions{
  grid-area: actions;
}

.app-body .devices .list .device-control .actions div {
  display: inline-block;
}


.app-body .devices .list .device-control .actions .action.transparent{
  opacity: 0.3;
}

.app-body .devices .list .device-control .actions .action:not(:last-child) {
  border-right: 1px solid rgba(234, 234, 234, 1);
  padding-right: 10px;
}

.app-body .devices .list .device-control .actions .action {
  margin-right: 16px;
}

.app-body .devices .list .device-control .extra{
  grid-area: extra;
  justify-self: center;
}

.app-body .devices .list .device-control .extra.slider{
  width: 80%;
}

.app-body .devices .list .device-control .extra.slider .label.right{
  float: right;
}

/* =================================================================================== */

.app-body .scenes .list .scene-control {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  min-height: 100px;
  margin-top: 16px;
  margin-right: 16px;
  grid-template-rows: 21px auto;
}

.app-body .scenes .list .scene-control.transparent div{
  opacity: 0.6;
}

.app-body .scenes .list .scene-control .scene-header {
  font-size: 15px;
  height: auto;
  margin-bottom: 0;
  display: grid;
  grid-template-areas: "title action";
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.app-body .scenes .list .scene-control .scene-header .scene-title {
  grid-area: title;
  color: rgba(72, 72, 72, 1);
}
.app-body .scenes .list .scene-control .scene-header .action {
  grid-area: action;
}

.app-body .scenes .list .scene-control .scene-devices {
  grid-area: devices;
}
.app-body .scenes .list .scene-control .scene-devices .scene-device{
  display: grid;
  align-items: center;
  grid-template-columns: 15% 85%;
}
.app-body .scenes .list .scene-control .scene-devices .scene-device .circle{
  grid-column: 1;
}
.app-body .scenes .list .scene-control .scene-devices .scene-device .label{
  grid-column: 2;
}

.app-body .devices .list .device-control .actions .action span{
  font-size: 12px;
  color: rgba(144, 144, 144, 1);
}

.circle {
  display: inline-block;
  height: 26px;
  width: 26px;
  min-height: 13px;
  min-width: 13px;
  border-radius: 26px;
  border: 2px solid rgba(72, 72, 72, 0.3);
  margin: 5px;
  vertical-align: middle;
}

.circle.small{
  height: 13px;
  width: 13px;
}

.yellow.circle {
  background-image: -webkit-linear-gradient(-217deg, rgba(255, 246, 183, 1) 0%, rgba(255, 249, 133, 1) 100%);
  background-image: -moz-linear-gradient(-217deg, rgba(255, 246, 183, 1) 0%, rgba(255, 249, 133, 1) 100%);
  background-image: -o-linear-gradient(-217deg, rgba(255, 246, 183, 1) 0%, rgba(255, 249, 133, 1) 100%);
  background-image: linear-gradient(-217deg, rgba(255, 246, 183, 1) 0%, rgba(255, 249, 133, 1) 100%);
}

.blue.circle {
  background-image: -webkit-linear-gradient(-217deg, rgba(183, 233, 255, 1) 0%, rgba(133, 216, 255, 1) 100%);
  background-image: -moz-linear-gradient(-217deg, rgba(183, 233, 255, 1) 0%, rgba(133, 216, 255, 1) 100%);
  background-image: -o-linear-gradient(-217deg, rgba(183, 233, 255, 1) 0%, rgba(133, 216, 255, 1) 100%);
  background-image: linear-gradient(-217deg, rgba(183, 233, 255, 1) 0%, rgba(133, 216, 255, 1) 100%);
}

.orange.circle {
  background-image: -webkit-linear-gradient(-217deg, rgba(255, 222, 183, 1) 0%, rgba(255, 186, 133, 1) 100%);
  background-image: -moz-linear-gradient(-217deg, rgba(255, 222, 183, 1) 0%, rgba(255, 186, 133, 1) 100%);
  background-image: -o-linear-gradient(-217deg, rgba(255, 222, 183, 1) 0%, rgba(255, 186, 133, 1) 100%);
  background-image: linear-gradient(-217deg, rgba(255, 222, 183, 1) 0%, rgba(255, 186, 133, 1) 100%);
}

.gray.circle {
  background-image: -webkit-linear-gradient(-217deg, rgba(200, 200, 200, 1) 0%, rgba(188, 188, 188, 1) 100%);
  background-image: -moz-linear-gradient(-217deg, rgba(255, 222, 183, 1) 0%, rgba(255, 186, 133, 1) 100%);
  background-image: -o-linear-gradient(-217deg, rgba(255, 222, 183, 1) 0%, rgba(255, 186, 133, 1) 100%);
  background-image: linear-gradient(-217deg, rgba(200, 200, 200, 1) 0%, rgba(188, 188, 188, 1) 100%);
}

.MuiSwitch-colorPrimary-9.MuiSwitch-checked-8 + .MuiSwitch-bar-12{
  background-color: rgba(255, 127, 75, 1)!important;

}

.MuiSwitch-icon-5.MuiSwitch-iconChecked-6,
.MuiSlider-track-58.MuiSlider-trackBefore-59,
.MuiSwitch-colorPrimary-9.MuiSwitch-checked-8 + .MuiSwitch-bar-12,
.MuiButtonBase-root-23.MuiSlider-thumb-61{
  background-color: rgba(255, 127, 75, 1)!important;
}

.MuiSlider-track-58.MuiSlider-trackAfter-60{
  background-color: rgba(255, 191, 165, 1)!important;
}

.MuiSlider-root-57{
  margin-bottom: 0!important;
}
